* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 10px;
  background: #f2f2f2;
}

#select {
  width: 100%;
  border-collapse: collapse;
}

#select th,
#select td {
  text-align: center;
  padding: 15px;
  border: 1px solid #d7d7d7;
}

#select th {
  font-weight: bold;
  color: #fff;
  background: #2460ab;
}

#select td {
  background: #fff;
}

#select td.booked {
  color: #b1b1b1;
  background: #f3f3f3;
}

#select td.selected {
  background: #feffaa;
}

#confirm {
  display: flex;
  padding: 10px;
  background: #e1e1e1;
}

#confirm input[type="text"] {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#confirm input[type="text"]:focus {
  outline: none;
  border-color: #2460ab;
}

#confirm input[type="submit"] {
  padding: 10px 20px;
  border: 0;
  color: #fff;
  background: #2460ab;
  cursor: pointer;
  border-radius: 5px;
}

#confirm input[type="submit"]:disabled {
  background: #9d9d9d;
  cursor: not-allowed;
}

#table table {
  border-collapse: collapse;
  width: 100%;
}

#table th,
#table td {
  border: 1px solid #d7d7d7;
  padding: 8px;
  text-align: left;
}

#table th {
  background-color: #f2f2f2;
  font-weight: bold;
  color: #333;
}
